@model IEnumerable<_1911061930_Lekhang_bigschool.Models.Course>
@{ ViewBag.Title = "Home Page"; }

<ul class="course">
    @foreach (var course in Model)
    {
    <li>
        <div class="date">
            <div class="month">
                @course.DateTime.ToString("MM")
            </div>
            <div class="day">
                @course.DateTime.ToString("dd")
            </div>
        </div>
        <div class="details">
            <span class="lecturer">
                @course.Lecturer.Name
                <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
            </span>
            <span class="category">
                @course.Category.Name
            </span>
            <span>
                <button data-course-id="@course.Id" class=" btn btn-default btn-sm js-toggle-attendace" >Going?</button>
            </span>
        </div>
    </li>            
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api.attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something Failed!");
                    })
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/following", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("!Following!");
                    })
                    .fail(function () {
                        alert("Something Failed");
                    });
            });
        });
    </script>
    
}

